<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="container">
        <header class="flex">
            <a href="/">
                <h2 class="brand">Bookstore</h2>
            </a>
            <nav>
                <a href="/books">
                    <button class="btn-green">Back</button>
                </a>
            </nav>
        </header>
        <main>
            <h2 class="heading">List Of Books</h2>
            <div class="list">
                <h2><%= book.title%></h2>
                <p><%= book.summary %></p>
                <h3>Pages: <%= book.pages %></h3>
                <h3>Publication: <%= book.publication %></h3>
                <h3>Author: <%= book.author %></h3>
                <a href="/authorDetails">
                    <button class="btn-blue">Author's Details</button>
                </a>
            </div>
        </main>
    </div>
</body>
</html>